name: Check markdown file

on:
  workflow_call:
    inputs:
      fix:
        type: boolean
        default: false
      globs:
        type: string
        required: true

permissions: {}

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          fix: ${{ inputs.fix }}
          globs: ${{ inputs.globs }}
